<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gb.canibuythat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.BudgetItemListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BudgetItemDetailActivity"
            android:label="@string/title_budgetmodifier_detail"
            android:parentActivityName=".ui.BudgetItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BudgetItemListActivity"/>
        </activity>

        <provider
            android:name=".provider.BudgetProvider"
            android:authorities="com.gb.canibuythat.authority.budget"/>

        <activity
            android:name=".ui.ChartActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_chart">
        </activity>
    </application>

</manifest>